body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layout {
  background-image: url(../images/page1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 700px;
  max-width: 1100px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
}

.fa-chevron-down{
  cursor: pointer;
}
.fa-eye:hover{
  transform: translateY(-4px);
  transition:0.3s;
  animation-play-state: paused;
}

/* ABOUT ME PAGE */


.about{
  background-image: url(../images/silling.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  max-width: 1100px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
}
a{
  text-decoration: none;
  list-style: none;
  color: black;
}
li{
  list-style: none;
  cursor: pointer;
}
li:hover{
 font-size: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba(255, 228, 196, 0.593);

}

.about-title{
  margin: 10px;
}
.about-prgh{
  max-width: 480px;
  max-height: 700px;
  line-height: 22px;
  text-align: justify;
  font-size: 15px;
  margin: 10px;
}
 /* EXPERIENCES PAGE */

 .experiences{
  background-image: url(../images/exp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  max-width: 1100px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
 }

 .columns{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  max-width: 500px;
 }

 /* WORK SAMPLES PAGE */

 .sample{
  background-image: url(../images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  max-width: 1100px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
 }

 .a-card{
  border: 1px solid rgb(218, 193, 161);
  background-color: rgba(238, 223, 201, 0.812);
  border-radius: 5px;
  padding: 8px;
  text-align: justify;
  font-size: 15px;
  max-width: 250px;
  max-height: 300px;
  line-height: 15px;
  margin: 5px 0;
 }
 .btn{
  text-decoration: underline;
 }
 .btn:hover{
  color: rgb(125, 50, 196);
 }
 .websites{
  display: flex;
  max-width: 550px;
  justify-content: space-between;
 }

 /* CONTACT PAGE */

 .contact{
  background-image: url(../images/layout.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  max-width: 1100px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
 }